---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: alertmanager
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: alertmanager-secret
    template:
      templateFrom:
        - configMap:
            name: alertmanager-config-tpl
            items:
              - key: alertmanager.yaml
  dataFrom:
    - extract:
        key: pushover
    - extract:
        key: alertmanager
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thanos-objstore-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    template:
      engineVersion: v2
      data:
        objstore.yml: |-
          config:
            access_key: {{ .admin }}
            bucket: thanos
            endpoint: {{ .endpoint }}
            insecure: true
            region: us-east-1
            secret_key: {{ .adminpw }}
          type: s3
  dataFrom:
    - extract:
        key: minio
