---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: thanos-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        s3-bucket: thanos-2
        s3-region: us-east-1
        s3-endpoint: "{{ .endpoint }}"
        access-key: "{{ .access_key }}"
        secret-key: "{{ .secret_key }}"
  data:
    - secretKey: access_key
      remoteRef:
        # key: 28ea6796-3962-4338-9100-b126012565e8
        key: AWS_ACCESS_KEY_ID
        property: username
    - secretKey: secret_key
      remoteRef:
        # key: 1f93b82d-e45a-429c-8397-b12601258911
        key: AWS_SECRET_ACCESS_KEY
        property: password
    - secretKey: endpoint
      remoteRef:
        # key: 46eb6b52-c061-4c33-8ad5-b12601260671
        key: AWS_S3_ENDPOINT
        property: endpoint

