---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: loki-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        s3-bucket: loki
        s3-endpoint: "{{ .endpoint }}"
        access-key: "{{ .admin }}"
        secret-key: "{{ .adminpw }}"
  dataFrom:
    - extract:
        key: minio
  # data:
  #   - secretKey: access_key
  #     remoteRef:
  #       key: AWS_ACCESS_KEY_ID
  #       property: username
  #   - secretKey: secret_key
  #     remoteRef:
  #       key: AWS_SECRET_ACCESS_KEY
  #       property: password
  #   - secretKey: endpoint
  #     remoteRef:
  #       key: AWS_S3_ENDPOINT
  #       property: endpoint
