---
# yaml-language-server: $schema=https://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: nzbget
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 2.5.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    controllers:
      main:
        image:
          # https://hub.docker.com/r/linuxserver/nzbget
          repository: lscr.io/linuxserver/nzbget
          tag: latest
          pullPolicy: IfNotPresent
        env:
          TZ: America/Detroit
          # PUID: "${SECURITY_CONTEXT_RUN_AS_USER}"
          # PGID: "${SECURITY_CONTEXT_RUN_AS_GROUP}"
        resources:
          requests:
            cpu: 100m
            memory: 1Gi
          limits:
            memory: 2Gi
    service:
      main:
        ports:
          http:
            port: 6789
    persistence:
      config:
        # enabled: true
        # storageClass: config-hoperestored
        # size: 10Gi
        # mountPath: /config
        # subPath: nzbget
        enabled: true
        type: nfs
        # TODO fix network DNS
        # server: hoperestored.h.sdboyer.io
        server: "10.10.1.228"
        path: /mnt/std/kubepv/nzbget
        mountPath: /config
      media:
        enabled: true
        type: nfs
        # TODO fix network DNS
        # server: hoperestored.h.sdboyer.io
        server: "10.10.1.228"
        path: /mnt/std/media
        mountPath: /media
    ingress:
      main:
        enabled: true
        ingressClassName: nginx
        annotations:
          hajimari.io/icon: download-circle
        hosts:
          - host: &host nzbget.boyers.club
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host
